<div class="grid lg:grid-cols-4 md:grid-cols-2 grid-col-1 gap-4">
  @for (item of allList; track $index) {
    <div
      class="border cursor-pointer w-60 h-32 rounded-lg shadow hover:shadow-md focus:shadow-md transition-shadow duration-200 ease-in-out p-4"
    >
      <div class="flex items-center justify-between">
        <div
          class="body-lg text-gray-800 font-semibold"
          [routerLink]="item.isMain ? '/daily' : `/${item._id}`"
        >
          {{ item.title }}
          @if (item.isMain) {
            (main)
          }
        </div>
        <div class="flex justify-end">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_horiz</mat-icon>
          </button>
        </div>
      </div>

      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          (click)="editListDialog()"
          [disabled]="item.isMain"
        >
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>

        <button mat-menu-item [disabled]="item.isMain" (click)="deleteList()">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </div>
  }
</div>

<div class="items-center justify-center flex mt-4">
  <button mat-fab extended (click)="openAddDialog()">
    <mat-icon>add</mat-icon>
    Add List
  </button>
</div>
