<div class="grid lg:grid-cols-4 md:grid-cols-2 grid-col-1 gap-4">
  @for (item of allList; track $index) {
    <div
      class="border relative rounded-lg shadow hover:shadow-md focus:shadow-md transition-shadow duration-200 ease-in-out"
    >
      <div
        class="cursor-pointer p-4 h-32"
        [routerLink]="item.isMain ? '/daily' : `/${item._id}`"
      >
        <div class="body-lg text-gray-800 font-semibold">
          {{ item.title }}
          @if (item.isMain) {
            (main)
          }
        </div>
      </div>
      <div class="absolute top-2 end-2">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_horiz</mat-icon>
        </button>
      </div>

      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          (click)="openEditDialog(item)"
          [disabled]="item.isMain"
        >
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>

        <button
          mat-menu-item
          [disabled]="item.isMain"
          (click)="deleteList(item.title, item._id)"
        >
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </div>
  }
</div>

<div class="items-center justify-center flex mt-4">
  <button mat-fab extended (click)="openAddDialog()">
    <mat-icon>add</mat-icon>
    Add List
  </button>
</div>
