<div class="bg-white rounded-lg w-full py-10">
  <div class="flex flex-col justify-center">
    <div class="relative mx-auto">
      <img
        ngSrc="assets/images/logo.png"
        [width]="200"
        [height]="200"
        priority="1"
      />
    </div>
    <div class="text-center text-3xl font-bold">Angular Task (To Do List)</div>
    <div class="text-center text-[16px] text-gray-500 pt-4">
      Developed by
      <a class="underline" href="https://github.com/zmokhtari97">
        Zahra Mokhtari
      </a>
    </div>

    <div
      class="mt-20 flex flex-col items-center gap-4 max-w-[500px] mx-auto text-right"
    >
      <p class="text-center">
        Start your interactions by going to
        <code class="bg-gray-200 rounded px-2">Daily Task List</code>
        page using the left sidebar. You can either go through using the below
        button
      </p>
      <div class="flex gap-2 justify-between">
        <button [routerLink]="['/daily']" mat-button>Go To Daily</button>
      </div>
    </div>
  </div>
</div>
