/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  background: #eef0f1;
}

::-webkit-scrollbar-thumb {
  background-color: #cdd1d4;
  width: 8px;
}
